<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Done!</title>
    <meta name="description" content="Mail Merge - Streamline your email workflow" />
    <meta name="author" content="Samarth Verma" />
    <meta property="og:image" content="/og-image.png" />
    <link rel="stylesheet" href="/static/css/confirm.css">
  </head>
  <body>
    <div class="container">
      <h1>Done!</h1>
      <h1>Emails Sent Successfully!</h1>
      <a href="/" class="home-link">Go Back</a>
    </div>
  </body>
</html>