<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mail Merge by Samarth Verma</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
  </head>
  <body>
    <div class="container">
      <h1>Mail Merge by Samarth Verma</h1>
      
      <h2>Directions</h2>
      <h4>1. User Email</h4>
      <h5>Enter the address through which the emails will be sent</h5>
      
      <h4>2. Gmail Key</h4>
      <h5>Enter the app password (This data is not stored anywhere)</h5>
      <h5>Type in your browser "manage my google account"</h5>
      <h5>Within the search bar "App passwords"</h5>
      <h5>Name it anything and press Create</h5>
      
      <h4>3. Parameters</h4>
      <h5>Fields that will be replaced in each email</h5>
      <h5>It is recommended to distinguish the parameters with braces {}</h5>
      <h5>Example: {name}, {company}, {color}</h5>
      
      <h4>4. Emails</h4>
      <h5>The amount of emails that will be sent out</h5>
      <h5>Here you can input what will replace your parameters</h5>
      <h5>Example: John, Tesla, Blue (This can vary for each email)</h5>
      
      <h4>5. Subject/Body</h4>
      <h5>Subject and Bodies of the emails</h5>
      <h5>Use your parameters to replace text in the emails</h5>
      
      <form action="/" method="post">
        <button type="submit">Get Started</button>
      </form>
    </div>
  </body>
</html>